@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.1405 0.0044 285.8238);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1405 0.0044 285.8238);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1405 0.0044 285.8238);
  --primary: oklch(0.6071 0.2286 9.7372);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.9676 0.0013 286.3752);
  --secondary-foreground: oklch(0.2103 0.0059 285.8835);
  --muted: oklch(0.9676 0.0013 286.3752);
  --muted-foreground: oklch(0.5519 0.0137 285.9422);
  --accent: oklch(0.9676 0.0013 286.3752);
  --accent-foreground: oklch(0.2103 0.0059 285.8835);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.9197 0.004 286.32);
  --input: oklch(0.9197 0.004 286.32);
  --ring: oklch(0.6071 0.2286 9.7372);
  --chart-1: oklch(0.6071 0.2286 9.7372);
  --chart-2: oklch(0.2103 0.0059 285.8835);
  --chart-3: oklch(0.7582 0.0278 248.1947);
  --chart-4: oklch(0.6273 0.17 149.2005);
  --chart-5: oklch(0.9622 0.0569 95.6088);
  --sidebar: oklch(0.1405 0.0044 285.8238);
  --sidebar-foreground: oklch(0.9848 0 0);
  --sidebar-primary: oklch(0.6071 0.2286 9.7372);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.2103 0.0059 285.8835);
  --sidebar-accent-foreground: oklch(0.9848 0 0);
  --sidebar-border: oklch(0.3115 0.0107 285.7642);
  --sidebar-ring: oklch(0.6071 0.2286 9.7372);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0 0 / 0.03);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0 0 / 0.03);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0 0 / 0.05),
    0px 1px 2px -1px hsl(0 0 0 / 0.05);
  --shadow: 0px 4px 10px 0px hsl(0 0 0 / 0.05),
    0px 1px 2px -1px hsl(0 0 0 / 0.05);
  --shadow-md: 0px 4px 10px 0px hsl(0 0 0 / 0.05),
    0px 2px 4px -1px hsl(0 0 0 / 0.05);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0 0 / 0.05),
    0px 4px 6px -1px hsl(0 0 0 / 0.05);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0 0 / 0.05),
    0px 8px 10px -1px hsl(0 0 0 / 0.05);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0 0 / 0.13);
  --tracking-normal: normal;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2067 0.01 285.4885);
  --foreground: oklch(0.9848 0 0);
  --card: oklch(0.2272 0.0118 285.4252);
  --card-foreground: oklch(0.9848 0 0);
  --popover: oklch(0.2272 0.0118 285.4252);
  --popover-foreground: oklch(0.9848 0 0);
  --primary: oklch(0.6071 0.2286 9.7372);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.3151 0.0067 286.0116);
  --secondary-foreground: oklch(0.9848 0 0);
  --muted: oklch(0.3151 0.0067 286.0116);
  --muted-foreground: oklch(0.7553 0.0108 286.1377);
  --accent: oklch(0.3151 0.0067 286.0116);
  --accent-foreground: oklch(0.9848 0 0);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.3151 0.0067 286.0116);
  --input: oklch(0.3151 0.0067 286.0116);
  --ring: oklch(0.6071 0.2286 9.7372);
  --chart-1: oklch(0.6071 0.2286 9.7372);
  --chart-2: oklch(0.9848 0 0);
  --chart-3: oklch(0.7582 0.0278 248.1947);
  --chart-4: oklch(0.6273 0.17 149.2005);
  --chart-5: oklch(0.9622 0.0569 95.6088);
  --sidebar: oklch(0.2608 0.0188 356.5834);
  --sidebar-foreground: oklch(0.9848 0 0);
  --sidebar-primary: oklch(0.6784 0.1846 2.7005);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.4075 0.0122 285.8475);
  --sidebar-accent-foreground: oklch(0.9848 0 0);
  --sidebar-border: oklch(0.4933 0.019 285.6813);
  --sidebar-ring: oklch(0.6071 0.2286 9.7372);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 6px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.3;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0px 6px 10px 0px hsl(0 0 0 / 0.15);
  --shadow-xs: 0px 6px 10px 0px hsl(0 0 0 / 0.15);
  --shadow-sm: 0px 6px 10px 0px hsl(0 0 0 / 0.3),
    0px 1px 2px -1px hsl(0 0 0 / 0.3);
  --shadow: 0px 6px 10px 0px hsl(0 0 0 / 0.3), 0px 1px 2px -1px hsl(0 0 0 / 0.3);
  --shadow-md: 0px 6px 10px 0px hsl(0 0 0 / 0.3),
    0px 2px 4px -1px hsl(0 0 0 / 0.3);
  --shadow-lg: 0px 6px 10px 0px hsl(0 0 0 / 0.3),
    0px 4px 6px -1px hsl(0 0 0 / 0.3);
  --shadow-xl: 0px 6px 10px 0px hsl(0 0 0 / 0.3),
    0px 8px 10px -1px hsl(0 0 0 / 0.3);
  --shadow-2xl: 0px 6px 10px 0px hsl(0 0 0 / 0.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .first-text-uppercase {
    @apply first-letter:uppercase;
  }

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 1.875rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1.125rem;
  }
  p {
    font-size: 1rem;
  }

  .create-scroll {
    @apply overflow-y-scroll;
  }

  .echarts-tooltip-dark {
    /* color: var(--color-foreground); */
    padding: 8px 8px;
    border-radius: 8px;
  }
}
